.thank-you-page
  .header
    / %img.accela-logo{src: asset_path("accela-logo.png")}
    %img.apd-logo{src: asset_path("apd.png")}
  .content
    %h1
      Thank you for your interest in participating in Accela Design research!

    %h3
      A member of the Accela Product Design team will contact you when we have a research project that matches your experience.

    = link_to "/" do
      %button
        Done