<!DOCTYPE html>
<html>
<head>
  <title>Accelaux</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="//cloud.webtype.com/css/be7274db-9eb1-4f87-abfa-e92d7cb639fa.css" rel="stylesheet" type="text/css" />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="//use.typekit.net/ysi2per.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
